/*body{
    background: linear-gradient(to bottom, rgb(204, 229, 255), rgb(204, 229, 0.4));
     font-size: 1.15em;
    background-color: rgb(122, 3, 122);
    text-align: justify;
    font-family: "Lato",sans-serif;
*/
}

.myh1{
    
    font-size: 50px;
    margin-top: 1rem;
    text-shadow: 20px;
    font-style: italic;
    color: rgb(49, 17, 87);
    text-transform: uppercase;
    text-shadow: 2px,2px,2px,#222;
    border-radius: 1rem;
    
}

.myh2{
    
    font-size: 50px;
    margin-top: 1rem;
    text-shadow: 20px;
    font-style: italic;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
    text-shadow: 8px,8px,8px,#222;
    border-radius: 1rem;
    
}

.mycontainer
{ 
    text-shadow: slategray;
    margin-top: 2rem;
    width: 60%;
    height: auto;
    background-color: rgba(141, 141, 141, 0.507);
    color: white;
}    

h1, h2{
    color: whitesmoke;
    text-align: center;
    color: rgb(37, 1, 83);
    font-family: sans-serif,arial;
}

li{
    margin: 1rem;
    font-weight: bold;
}



button{
    color: tomato;
    background-color: rgb(52, 11, 105);
    font-weight: 50px;
    margin-top: 200px;
    border-radius: 10px;
    
}
/*.container{
    align-items: center;
    width: 100px;
    height: 50px;
}*/


.col1{
    background-color: lightslategray;
}

.col2{
    background-color: rgb(202, 35, 35);
}
.col3{
    background-color: mediumorchid;
}

.col4{
    background-color: rgb(52, 175, 41);
}






/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) 
{
 .myh1 , .myh2
    {
      font-size: 30px;
      
    }
     
 .navbarmain
    {
       height: 70px;
    }
 .panel-footer
    {
    
      text-align: center;
    
    }


}



@media only screen and (min-width:769px)
{
    
    .rules{
        width: 200px;
    }
   .product-col1{
       margin-top: 100px;
       }
   .col1{
      margin-top: 100px;
   }
   col02{
      margin-top: 20rem;
   }
}
