{% extends 'layout.html' %}

  

{% block content %}
    
    <main>
       <section class="container-fluid"> 
        <img src="static/butterfly.gif" alt="Animated Emoji" class="emoji1">
      
        <h1>Contact Us</h1>
        <form action="{{ url_for('contact') }}" method="post" class="row g-6">
            <div class="col-sm-12 col-md-6">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="email">Contact:</label>
                <input type="text" name="contact" id="contact" class="form-control" required>
            </div>

            <div class="col-12 ">
                <label for="message">Message:</label>
                <textarea name="message" id="message" class="form-control" required></textarea>
            </div>

            <div class="row text-center g-3">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
            </div>  
        </form>

      </section>  
    </main>

  <hr>
{% endblock %}