  <footer>
    <div class="container-fluid">
      <div class="row text-center">

        <section class="col-sm-12 col-lg-4">
          <span><b>Page Links:</b></span><br>
          <a class="logo-footer navbar-brand" href="#"><img src="static/logo.png"> </a><br>
          <a href="{{url_for('contact')}}">Contact</a><br>
          <a href="{{url_for('MyWork')}}">Designing </a><br>
          <a href="{{url_for('dashboard')}}">Dashboard</a><br>
          <a href="{{url_for('backend')}}">Database</a><br>
          <a href="{{url_for('projects')}}">Projects</a>
        </section>

        <section class="col-sm-12 col-lg-4 my-2">
          <span><b>Address:</b></span><br>
          <p>Tehseel Pabbi,Dist Nowshera GT Road Pakistan.<br>
          Email: azizdigitalsysten@gmail.com <br>
          Cell: 00923339139164</p>
        </section>

        <section class="col-sm-12 col-lg-4">
          <span><b>Join us:</b></span><br>
          <a href="https://facebook.com/digitalonlinedesign/" target="_blank">
            <i class="bi-facebook" style="font-size: 2rem;"></i></a><br>

          <a href="https://wa.me/923339139164" target="_blank" class="text-success">
            <i class="bi-whatsapp" style="font-size: 2rem;"></i></a><br>

          <a href="https://instagram.com/tariqaziz9164/" target="_blank" class="text-danger">
            <i class="bi-instagram" style="font-size: 2rem;"></i></a>
        </section>

        <div class="text-center">
          &copy; DigitalOnline 2018

        </div>
      </div>
  </footer>