{% extends 'layout.html' %}

{% block content %}

    <div class="container">
       <h1 class="myh1 shadow pb animate__animated animate__bounce animate__delay-2s">Unleashing the Potential of Data for Business Success</h1>
       <h4>Where the possibilities are limitless, and success awaits those who seize it.</h4>
    </div>
    <div style="text-align: center;">
      <img src="static/rocket.gif" alt="card2">
    </div>   
    <!--Illustration cards-->
    <section>
      <div class="container mt-4">
        <div class="row">

          <div class="col-4 shadow">

            <img src="static/d2.png" class="img-fluid shadow-lg myimg1 rounded-3" alt="web_design1">

          </div>

          <div class="col-4 shadow">

            <img src="static/1.png" class="img-fluid shadow-lg myimg1 rounded-3" alt="web_design2">
          </div>

          <div class="col-4 shadow">

            <img src="static/card4Nav.png" class="img-fluid myimg1 shadow-lg  rounded-3" alt="web_design3">
          </div>

        </div>
      </div>
      <hr>
    </section>
     

    <div class="container">
      <h1 class="mt-3 p-2 myh2">We are Database builders, analyst and Dashboards designer.</h1>
      <h6>Data is the lifeblood of the modern business landscape, and in this era of limitless possibilities, those who harness its potential hold the keys to success. I am Tariq Aziz, a visionary database creator and data analyst, dedicated to shaping the future of businesses through the art of data manipulation.</h6>
      <h3>Data for Prediction.</h3>
      <h6>With an unwavering belief that data is the true power that drives organizations forward, I have honed my skills in the craft of data analysis and visualization. Through meticulous examination and interpretation, I transform raw data into valuable insights that unveil the hidden opportunities and predict the path to optimal business decisions.</h6>
      <hr>
      <h1 class="mt-2 p-1 myh2 animate__animated animate__fadeIn">Explore the experience we have!</h1>
    </div>


    
    <!-- cards call to actions -->
    <section>
      <div class="container my-3">
        <div class="row">
          
          <div class="col-md-4 col-lg-4 shadow my-3">
            <div class="card text-center">
              <img src="static/logowhite.png" class="card-img-top" alt="card1">
              <div class="card-body">
                <h6 class="card-title">A weapon shop website</h6>
                <a class="btn btn-primary btn-lg shadow" href="https://tariqaziz.pythonanywhere.com/index">Explore</a>
                
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 shadow my-3">
            <div class="card text-center">
              <img src="static/card4Nav.png" class="card-img-top shadow" alt="card2">
              <div class="card-body">
                <h6 class="card-title">Easy User Interface.</h6>
                <a href="{{url_for('dashboard')}}" class="btn btn-primary btn-lg shadow">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 shadow my-3">
            <div class="card text-center">
              <img src="static/card2Nav.png" class="card-img-top" alt="card3">
              <div class="card-body">
                <h6 class="card-title">We build suitable schemas and Tables</h6>

                <a href="{{url_for('backend')}}" class="btn btn-primary btn-lg shadow">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  <hr>
    <!-- cards call to actions -->
    <section>
      <div class="container my-3">
        <div class="row">
          <h2> Here, we build few remarkable projects that highlight our expertise.</h2>
          <div class="col-md-4 col-lg-4 shadow my-3">
            <div class="card text-center">
              <img src="static/schoollogo.png" class="card-img-top" alt="card1">
              <div class="card-body">
                <h6 class="card-title">Database for School Management</h6>
                <a class="btn btn-primary btn-lg shadow" href="{{url_for('MyWork')}}">Explore Project</a>
                
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 shadow my-3">
            <div class="card text-center">
              <img src="static/tailorlogo.png" class="card-img-top shadow" alt="card2">
              <div class="card-body">
                <h6 class="card-title">Database for Tailor Shop</h6>
                <a href="AppDesign.html" class="btn btn-primary btn-lg shadow">Explore Project</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 shadow my-3">
            <div class="card text-center">
              <img src="static/chartlogo.png" class="card-img-top" alt="card3">
              <div class="card-body">
                <h6 class="card-title">Data Analysis and Visualization</h6>

                <a href="ProductDesign.html" class="btn btn-primary btn-lg shadow">Explore Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}



