<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!--bootsrap icon-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- my style style.css-->

  <link rel="stylesheet" type="text/css" href="style.css">

  <title>Digital Online Design</title>
</head>

<body>

  <!--navigation-->

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="static/logo.png"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-primary" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('projects')}}">Projects</a>
   
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
            </li>

            
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('MyWork')}}">About Us</a>
            </li>
           


          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <div class="container">
      <h1 class="myh1 shadow pb">Welcome to DigitalOnline web bulders and Meta Marketing.</h1>
    </div>

    <!--Illustration cards-->
    <section>
      <div class="container mt-4">
        <div class="row">

          <div class="col-4">

            <img src="static/Saly-10.jpg" class="img-fluid shadow-lg myimg1 rounded-3" alt="web_design1">

          </div>

          <div class="col-4">

            <img src="static/Saly-24.jpg" class="img-fluid shadow-lg myimg1 rounded-3" alt="web_design2">
          </div>

          <div class="col-4">

            <img src="static/Saly-38.jpg" class="img-fluid myimg1 shadow-lg  rounded-3" alt="web_design3">
          </div>

        </div>
      </div>
    </section>


    <div class="container">
      <h1 class="shadow mt-3 p-2 myh2">We are your business builders and partners.</h1>
      <h1 class="shadow mt-3 p-2 myh2">We build and manage your online presence.</h1>
    </div>

    <!--carousel-->
    <section>
      <div class="container mt-3">
        <div id="carouselExampleSlidesOnly" class="mt-3 carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner w-100">
            <div class="carousel-item active">
              <img src="static/markup0001.jpg" class="d-block w-100" alt="design-markup1">
            </div>
            <div class="carousel-item">
              <img src="static/004.jpg" class="d-block w-100" alt="design-markup2">
            </div>
            <div class="carousel-item">
              <img src="static/003.jpg" class="d-block w-100" alt="design-markup3">
            </div>

            <div class="carousel-item">
              <img src="static/001.jpg" class="d-block w-100" alt="design-image1">
            </div>

            <div class="carousel-item">
              <img src="static/009.jpg" class="d-block w-100" alt="design-image2">
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <!-- cards call to actions -->
    <section>
      <div class="container my-3">
        <div class="row">
          <div class="col-md-4 col-lg-4 shadow my-3">
            <div class="card text-center">
              <img src="static/Saly-19.png" class="card-img-top" alt="card1">
              <div class="card-body">
                <h6 class="card-title">My Work</h6>
                <a href="MyWork.html" class="btn btn-primary btn-lg shadow">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 shadow my-3">
            <div class="card text-center">
              <img src="static/card4.jpg" class="card-img-top shadow" alt="card2">
              <div class="card-body">
                <h6 class="card-title">Web Design</h6>
                <a href="AppDesign.html" class="btn btn-primary btn-lg shadow">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 shadow my-3">
            <div class="card text-center">
              <img src="static/card2.jpg" class="card-img-top" alt="card3">
              <div class="card-body">
                <h6 class="card-title">Product Design</h6>

                <a href="ProductDesign.html" class="btn btn-primary btn-lg shadow">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---google mape-->
    <section>
      <div class=" container-sm shadow rounded bg-light" style="text-align: center;">
        <a href="https://googl/maps/ggHiL2gLTR1ATkSX8"></a>
        <div class="container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26459.762635555508!2d71.7741782318348!3d34.00613633574804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d92fd755b5471f%3A0xbfe1fb0f0a4f0767!2sPabbi%2C%20Nowshera%2C%20Khyber%20Pakhtunkhwa%2C%20Pakistan!5e0!3m2!1sen!2s!4v1628332177928!5m2!1sen!2s"
            width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy">
          </iframe>
        </div>
      </div>
    </section>
    <hr>
  </main>

  <!--footer-->

  <footer>
    <div class="container-fluid">
      <div class="row text-center">

        <section class="col-sm-12 col-lg-4">
          <span><b>Page Links:</b></span><br>
          <a class="logo-footer navbar-brand" href="#"><img src="./images/logo.png"> </a><br>
          <a href="contact.html">Contact</a><br>
          <a href="MyWork.html">My Work </a><br>
          <a href="ProductDesign.html">Product Design</a><br>
          <a href="AppDesign.html">Web Design</a>
        </section>

        <section class="col-sm-12 col-lg-4 my-2">
          <span><b>Address:</b></span><br>
          Tehseel Pabbi,Dist Nowshera GT Road Pakistan.<br>
          Email: azizdigitalsysten@gmail.com <br>
          Cell: 00923339139164
        </section>

        <section class="col-sm-12 col-lg-4">
          <span><b>Join us:</b></span><br>
          <a href="https://facebook.com/digitalonlinedesign/" target="_blank">
            <i class="bi-facebook" style="font-size: 2rem;"></i></a><br>

          <a href="https://wa.me/923339139164" target="_blank" class="text-success">
            <i class="bi-whatsapp" style="font-size: 2rem;"></i></a><br>

          <a href="https://instagram.com/tariqaziz9164/" target="_blank" class="text-danger">
            <i class="bi-instagram" style="font-size: 2rem;"></i></a>
        </section>

        <div class="text-center">
          &copy; DigitalOnline 2018

        </div>
      </div>
  </footer>
  <hr>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous">
  </script>

</body>

</html>

