<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <!--bootsrap icon-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


  <!--Jwuery-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




  <!-- my style style.css-->

  <link rel="stylesheet" type="text/css" href="style.css">


  <title>Product Design</title>
</head>

<body>

  <!--navigation-->

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}"><img src="static/logo.png"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-primary" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('MyWork')}}">Design Work</a>
            </li>



            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('ProductDesign')}}">Product Design</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('projects')}}">Projects</a>
   
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
            </li>

          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <section class="text-center ">
      <div class="container">

        <h2 class="my-3 p-2 rounded shadow">Design Rules</h2>

        <div class=" row g-2">

          <div class="col-md-6 my-2 bg-warning rounded shadow g-2">
            Visibility of system status.

          </div>
          <div class=" my-2 bg-secondary rounded text-light shadow col-md-6 ">
            User control and freedom.
          </div>
          <div class=" my-2 bg-seccess rounded shadow col-md-6 ">
            Consistency and standards.

          </div>
          <div class="  my-2 bg-info rounded  shadow col-md-6">
            Flexibility and efficiency of use.
          </div>
          <div class=" my-2 bg-danger rounded shadow text-light col-md-6">
            Error prevention.
          </div>
          <div class=" my-2 bg-primary rounded shadow col-md-6">
            Help and documentation.

          </div>

        </div>

      </div>

    </section>
    <hr>

    <section>
      <div class="container text-center">
        <div class="row text-center align-item-center justify-content-between">
          <div class="col-md-6">
            <h1 class="shadow mt-md-5 p-2">Design software for markup</h1>
            <p class="lead mt-md-5">For prototyping and wireframing we use <span class="text-warning fs-3">Figma</span>
              software
              which is a
              modern tool.
              The benefit of prototyping apps is that they allow the designer <br> to focus solely on user experience
              early on. They also tend to lead to less <br> original designs. While this can often be preferable the
              goal
              is a seamless shopping experience—if you want to make more creative designs, textures or animations, We
              are
              here to serve you with a great UI.
            </p>
          </div>

          <div class=" col-md-6 mt-md-5 mt-lg-2 mb-lg-2 pt-md-5">
            <img src="static/001.jpg" class="img-fluid" alt="design-markup">
          </div>
          <hr>
          <div class="col-md-6 my-3">
            <h1 class=" mt-md-5 shadow p-2">
              Template bases layout approach

            </h1>
            <p class="mt-lg-5">Templat base design is very helpfull for planning of images , feature lists
              , Q&As , testimonials ect.
              Standerd lyout are use these days across different copanies.For example E-commerce app
              tend to display images on the left said and related information on the right said.
              Design with the rest of the site in mind because product pages are not designed in isolation
              , they have to integrate with the rest of website.
            </p>
          </div>
          <div class="col-md-6 my-3">
            <img src="static/009.jpg" class="img-fluid mt-md-5" alt="android-home-design">
          </div>
          <hr>
          <div class="col-md-6 my-3">
            <h1 class=" mt-sm-2 mt-md-3 mt-lg-5 shadow p-2">
              Selectivety prioritize information.</h1>
            <p class="mt-lg-5">This means that a good design must make decisions about what the user has to see and
              when.
              With specific design techniques such as size, color, and font style established priority are
              summed up in the principales of visual hierarchy.
            </p>
          </div>

          <div class="col-md-6">
            <img src="static/004.jpg" class="img-fluid" alt="App-design">
          </div>
          <hr>
          <div class="col-md-6 h-50 ">
            <h1 class="shadow p-2 mt-md-5 pt-lg-5">Tell a story with images</h1>
            <p class="mt-lg-5">Images are inevitable the most eye-catching part of a product design for a the simple
              reason
              that they are faster to scan than text.
              <span class="text-warning fs-2">These days online shoppers expect to see an average of 6 images and at
                least 1
                videos
                on product page.</span>
              At the same time, images must be more than attention grabbing.This means that the images should
              creat an experience of the product, telling a story without words.
              We use images according to the product.
              For physical products,dimentions are often important,and this involves
              more than displaying the measurements.
              For products or services without a visual component,designing process should be
              more creative that envoke the experience of using the product.
            </p>
          </div>
          <div class="col-md-6">
            <img src="static/saly-19.png" class="img-fluid mt-md-5" alt="App-design2">
          </div>
          <hr>

        
          <div class="col-md-6 my-3">
            <h1 class="shadow p-2">
              Agreat product page design needs a great designer.
            </h1>
            <p>
              The design of a product page is part science,part style and all business.
              At the the end of the day, a great product page is designed to elevate a
              product out of the computer screen and into the customer's everyday reality.
            </p>
          </div>

          <div class="col-md-6 my-3">
            <img src="static/Android Home.jpg" class="img-fluid" alt="home-page-design">
          </div>


        </div>
      </div>
    </section>
    <hr>

  </main>

  <footer>
    <div class="container-fluid">
      <div class="row text-center">
        <section class="col-sm-12 col-lg-4">
          <span><b>Page Links:</b></span><br>
          <a class="logo-footer navbar-brand" href="index.html"><img src="./images/logo.png"> </a><br>
          <a href="contact.html">Contact</a><br>
          <a href="MyWork.html">My Work </a><br>
          <a href="">Product Design</a><br>
          <a href="AppDesign.html">App Design</a>
        </section>
        <section class="col-sm-12 col-lg-4">
          <span><b>Address:</b></span><br>
          Tehseel Pabbi,Dist Nowshera GT Road Pakistan.<br>
          Email: azizdigitalsysten@gmail.com <br>
          <span class=""> <b>Cell: 00923339139164</b></span>
        </section>
        <section class="col-sm-12 col-lg-4">
          <span><b>Join us:</b></span><br>
          <a href="http://facebook.com/digitalonlinedesign/" target="_blank">
            <i class="bi-facebook" style="font-size: 2rem;"></i></a><br>

          <a href="http://wa.me/923339139164" target="_blank">
            <i class="bi-whatsapp" style="font-size: 2rem;"></i></a><br>

          <a href="http://instagram.com/tariqaziz9164/" target="_blank">
            <i class="bi-instagram" style="font-size: 2rem;"></i></a>
        </section>
      </div>
      <div class="text-center">
        &copy; DigitalOnline 2018

      </div>
    </div>
  </footer>
  <hr>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


</body>

</html>