{% extends 'layout.html' %}

{% block content %}

  <main>


    <h2 class="mt-5 text-center mb-5">Our Developed Projects</h2>


    <!-- cards call to actions -->
    <section>
      <div class="container">

        <div class="row">
            <div class="col-md-4 col-lg-4 shadow my-3">
             <div class="card text-center">
              <img src="static/datalogo.png" class="card-img-top shadow" alt="card3">
               <div class="card-body">
                 <h6 class="card-title">Data Analysis And Visualization</h6>
                 <a href="https://datavisualizatio.streamlit.app/" class="btn btn-primary btn-lg shadow">Explore</a>
               </div>
             </div>
            </div>
          
            <div class="col-md-4 col-lg-4 shadow my-3">
              <div class="card text-center">
                <img src="static/logowhite.png" class="card-img-top shadow" alt="card3">
                  <div class="card-body">
                     <h6 class="card-title">China Arams Company</h6>
                     <a href="https://tariqaziz.pythonanywhere.com/index" class="btn btn-primary btn-lg shadow">Explore</a>
                  </div>
              </div>
            </div>

            <div class="col-md-4 col-lg-4 shadow my-3">
                <div class="card text-center">
                  <img src="static/rashidshaheedfoundationfoundation_project.jpeg" class="card-img-top shadow" alt="card3">
                  <div class="card-body">
                      <h6 class="card-title">Rashid Shaheed Foundation</h6>
                      <a href="https://rashidshaheedfoundation.org" class="btn btn-primary btn-lg shadow">Explore</a>
                  </div>
                </div>
            </div>

        </div>



      <br>
      <hr>
      <br>

        <div class="row">
          <div class="col-md-4 shadow">
            <div class="card text-center">
              <img src="static/tailorlogo.png" class="card-img-top shadow" alt="card1">
              <div class="card-body">
                <h6 class="card-title">Tailor Shop Management System</h6>
                <a class="btn btn-primary btn-lg shadow" href="https://alishop.streamlit.app/">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 shadow">
            <div class="card text-center">
              <img src="static/chartlogo.png" class="card-img-top shadow" alt="card2">
              <div class="card-body">
                <h6 class="card-title">Data Analysis Dashboards</h6>
                <a href="https://tariqaziz9164-streamlit-app-fzs00a.streamlit.app/" class="btn btn-primary btn-lg shadow">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 shadow">
            <div class="card text-center">
              <img src="static/schoollogo.png" class="card-img-top shadow" alt="card3">
              <div class="card-body">
                <h6 class="card-title">School Manage Management System</h6>

                <a href="https://school.streamlit.app/" class="btn btn-primary btn-lg shadow">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <br>
  <hr>
  <br>


{% endblock %}